.cell {
	border: 2px solid #022252;
	color: #4558d0;
	font-size: 72px;
	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: center;
}

.active {
	background-color: #4558d0;
	color: white;
}
