@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Rubik&display=swap');
html {
	font-family: 'Mynerve', cursive;
	box-sizing: border-box;
	background-color: #022252;
	color: white;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	height: 100vh;
}

.game {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.title {
	font-size: 48px;
}

.winner {
	font-size: 48px;
	color: #022252;
	text-align: center;
	display: block;
	width: 100%;
	background-color: white;
}

.restart {
	background-color: white;
	width: 120px;
	height: 48px;
	color: #022252;
	font-size: 24px;
	border: none;
	outline: none;
}
